# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore macbook generated finder files
*.DS_Store

# Ignore IntelliJ files and other build files
bin
.classpath
.project
.settings
.idea
gradle
gradlew
gradlew.bat